/* common */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.alert {
  font-weight: bold;
}

.alert-danger {
  color: red;
}

.alert-success {
  color: green;
}

.red {
  color: red
}

/* header */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 32px 32px 0;
  margin-bottom: 16px;
}

header > a {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}

header > a:hover {
  background: #eee;
}

header button {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}

header button:hover {
  background: #eee;
}

/* section */
/* トップ画像 */

body > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > section > h1 {
  font-size: 64px;
}

body > section > a {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}

body > section > a:hover {
  background: #eee;
}

/* main */

main {
  margin: 0 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.home-contents {
  flex-direction: column;
}

/* main > section */

main > section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main > section > h2 {
  margin-left: 10%;
}

main > section > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 10% 0;
}

main > section > .wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  width: 100%;
  height: 64px;
  margin-bottom: 16px;
  background-color: #fff;
}

main > section > .wrapper > div:hover {
  background: #eee;
  cursor: pointer;
}

main > section > .wrapper > a {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}

main > section > .wrapper > a:hover {
  background: #eee;
}

/* main > article */

article {
  width: 100%;
  display: flex;
  flex-direction: column;
}

article > h2 {
  margin-left: 10%;
}

article > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 10% 0;
}

article > .wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  width: 100%;
  height: 64px;
  margin-bottom: 16px;
  background-color: #fff;
}

article > .wrapper > div:hover {
  background: #eee;
  cursor: pointer;
}

article > .wrapper > a {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
}

article > .wrapper > a:hover {
  background: #eee;
}

/* ログイン画面 */

.container {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 16px 0;
}

.container h2 {
  text-align: center;
  color: #333;
}

.container p {
  text-align: center;
  color: #333;
}

.container .up {
  display: flex;
  margin-bottom: 16px;
}

.container .under {
  display: flex;
  margin-bottom: 16px;
}

.container .left {
  width: 50%;
  padding: 0 16px 0 0;
}

.container .right {
  width: 50%;
  padding: 0 0 0 16px;
}

.container .links {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container .links > :nth-child(2) {
  margin-top: 8px;
}

.container .links div a {
  color: blue;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.form-group label span {
  color: red;
}

.form-group > span {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group fieldset select {
  margin: 8px 0;

}

.form-group button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.form-group button:hover {
  background-color: #45a049;
}

/* 物件登録画面 */

input[type="button"] {
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background-color: #A4C6FF;
}

input[type="button"]:hover {
  background-color: #8EB8FF;
  cursor: pointer;
}

input[type="button"].remove-btn {
  width: 50%;
  background-color: #FFABCE;
  margin-bottom: 8px;
}

input[type="button"].remove-btn:hover {
  background-color: #FF97C2;
}